title{
    color: lightblue;
    font-size: 100px;
    text-align: center;
}
header,h1{
    color: lightblue;
    font-size: 100px;
    text-align: center;
    font-style: oblique;
    font:lighter;
    font-family: fantasy;
}

body{background-image:url(bockground.jpg) ;
}
img {
    width:50wv;
    
}